h1 {
    font-family: Impact; 
    letter-spacing: 4px;
    color: #160101;
    font-size: 80px;    
    text-align: center; 
    padding: 45px;
    margin:auto; 
    text-shadow: 4px 4px 5px #d22f06; 
    border-radius: 0px;
}

div {
    
    font-family: 'Courier New';
    background-color: #e5e0da6e;
    font-size: 17px;    
    background-size:cover; 
    padding: 5px;
    border-radius: 65px; 
}
body {
    margin: 0; /*removendo margens padrão do "body"*/
    padding: 0; /*removendo margens padrão do "body"*/
    background-image: url(img/img3.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

#div2 {
    font-size: 18px;
    font-family: Verdana;
    background-color: #1673c400;
    padding: 0;
    margin: 0;
}
/*continue*/